/*
THIS FILE IS OUTDATED
PLEASE UPDATE THE IMPORT LINK TO 
http://discord-custom-covers.github.io/usrbg/dist/userPopouts.css
ASAP
*/
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
.userPopout-3XzG_A {
	--user-popout-position:center;
}
.userPopout-3XzG_A .avatarWrapperNormal-3wFMbf::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A .header-2BwW8b *,
.userPopout-3XzG_A .body-3iLsc4 *,
.userPopout-3XzG_A .footer-1fjuF6 * {
	z-index: 1;
}
