/*Korbs' Database*/

/*Korbs#0001*/

.avatar-3EQepX[aria-label*="Korbs"] {
    --user-background: url("https://images.alphacoders.com/962/962986.png");
}


/*Winter (Morgana Chase)#0001*/

.avatar-3EQepX[aria-label*="Winter ⟨ Morgana Chase ⟩"] {
    --user-background: url("https://cdn.discordapp.com/attachments/655856894233280522/655967799876911144/profile.png");
		filter: blur(var(--NSFWbg)) !important;
}

/*ChristmasDioxide#2007*/

.avatar-3EQepX[aria-label*="ChristmasDioxide"] {
    --user-background: url("https://cdn.discordapp.com/attachments/430388043594334210/567774100433534986/oc__winter_feelings___my_new_wallpaper___4k_by_total_chuck-dbv5j3k.jpg");
}

/*LimonadeSenpai#8143*/

.avatar-3EQepX[aria-label*="LimonadeSenpai"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556828876341379092/SPOILER_Anime_4.png");
		filter: blur(var(--NSFWbg)) !important;
}


/*Tropical#8908*/

.avatar-3EQepX[aria-label*="Tropical"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/543140696807178266/Tropical.png");
}


/*creatable#0123*/

.avatar-3EQepX[aria-label*="creatable"] {
    --user-background: url("http://getwallpapers.com/wallpaper/full/e/8/7/663102.jpg");
}


/*JustMrRobBoss#1514*/

.avatar-3EQepX[aria-label*="JustMrRobBoss"] {
    --user-background: url("https://i.imgur.com/RVWaW9s.png");
}


/*FroztySeven#9632*/

.avatar-3EQepX[aria-label*="๖ۣۜFroztySeven"] {
    --user-background: url("https://cdn.discordapp.com/attachments/501144124880322570/536372585487794177/WIN_20190119_23_12_42_Pro.jpg");
}


/*aaron#5526*/

.avatar-3EQepX[aria-label*="aaron"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/546107586852945940/howls.gif");
}


/*AKDK#4324*/

.avatar-3EQepX[aria-label*="AKDK"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/546109187650879508/XjKfgHt.jpg");
}


/*.intrnl#6380*/

.avatar-3EQepX[aria-label*=".intrnl"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/546205630361239563/Surface_Book_-_Rainbow.jpg");
}


/*Naori#0001*/

.avatar-3EQepX[aria-label*="Naori"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/546690784481640448/1537293941448.png");
}


/*Euros#2239*/

.avatar-3EQepX[aria-label*="Euros"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/548923807692488714/Golden_Gate_Bridge__Hex_Fade_Wallpaper_Engine.png");
}


/*Không Lùn#8033*/

.avatar-3EQepX[aria-label*="Không Lùn"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/549480358786367498/unknown.png");
}


/*ｍｅｒｃｕｒｙ#5708*/

.avatar-3EQepX[aria-label*="ｍｅｒｃｕｒｙ"] {
    --user-background: url("https://i.imgur.com/uUAEfVhh.jpg");
}


/*JacobL#5806*/

.avatar-3EQepX[aria-label*="JacobL"] {
    --user-background: url("https://i.gifer.com/G5Z8.gif");
}


/*Vedallion#9999*/

.avatar-3EQepX[aria-label*="Vedallion"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/550319984421634058/gods-hourglass_2560x1440.jpg");
}


/*Xperium#7457*/

.avatar-3EQepX[aria-label*="Xperium"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/550116947732463626/photo-1494972308805-463bc619d34e.jpg");
}


/*RubixRoyal#5886*/

.avatar-3EQepX[aria-label*="RubixRoyal"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/550431247021768782/road-fog-nature-trees.jpg");
}


/*.ziff.#9484*/

.avatar-3EQepX[aria-label*=".ziff."] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/550114024520417281/G5Z8.gif");
}


/*LangKunG MCGTtv#0530*/

.avatar-3EQepX[aria-label*="LangKunG MCGTtv"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551362004565098506/JB_PAUSE_ADVERT_1.jpg");
}


/*AK Felix#0001*/

.avatar-3EQepX[aria-label*="AK Felix"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551374939207237632/Wave-1920x1080.png");
}


/*iShot#6284*/

.avatar-3EQepX[aria-label*="iShot"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551858209485357057/iShot.png");
}


/*Snake#7631*/

.avatar-3EQepX[aria-label*="Snake"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551785219586261002/battlefield-5-3841x2160-official-battlefield-v-4k-13938_1.jpg");
}


/*Medafu#3096*/

.avatar-3EQepX[aria-label*="Medafu"] {
    --user-background: url("https://wallpapercave.com/wp/wp1895631.jpg");
}


/*EliteNK#7230*/

.avatar-3EQepX[aria-label*="EliteNK"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551459390989926401/ZZOuSd4.jpg");
}


/*Normie Trash#8386*/

.avatar-3EQepX[aria-label*="Normie Trash"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/554055062562013204/latest.png");
}


/*Neisan™#5790*/

.avatar-3EQepX[aria-label*="Neisan™"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/554975114266148899/Meloetta-BG.jpg");
}


/*WICKwill#6185*/

.avatar-3EQepX[aria-label*="WICKwill"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/553586406618824724/1235480448_preview_QQ20171218212538.png");
}


/*Gixol#9340*/

.avatar-3EQepX[aria-label*="Gixol"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/555455191802052608/1478934736_screenshotwork2.jpg");
}


/*Relist#9066*/

.avatar-3EQepX[aria-label*="Relist"] {
    --user-background: url("https://i.imgur.com/IvQBybY.gif");
}


/*Heatwave#1346*/

.avatar-3EQepX[aria-label*="Heatwave"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/555919689335832586/hm.jpg");
}


/*Cas#3715*/

.avatar-3EQepX[aria-label*="Cas"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556535813937168396/mikael-gustafsson-wallpaper-mikael-gustafsson.png");
}


/*Tomi#0596*/

.avatar-3EQepX[aria-label*="Tomi"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556522856268431360/ce445fd8465705a5f1047a577bc72af5.1000x563x1.jpg");
}


/*Alanexei ✔#1337*/

.avatar-3EQepX[aria-label*="Alanexei ✔"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556485315632824360/red-galaxy-4.png");
}


/*Medafu#3096*/

.avatar-3EQepX[aria-label*="Medafu"] {
    --user-background: url("https://cdn.discordapp.com/attachments/239132903928365056/551220226260336660/Northern_Lights.png");
}


/*-TJ#2013*/

.avatar-3EQepX[aria-label*="-TJ"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556219032148115476/Freeze.png");
}


/*アヒル#0010*/

.avatar-3EQepX[aria-label*="アヒル"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/557972537355665424/Matoi_Ryuuko_30-2819.jpeg");
}


/*NoBlockhuman#2973*/

.avatar-3EQepX[aria-label*="NoBlockhuman"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/559513086449418260/104177.png");
}


/*ℳ𝒶𝓁𝒻𝓊𝓇𝒾ℴ𝓃ℒ𝒶𝓋#2104*/

.avatar-3EQepX[aria-label*="ℳ𝒶𝓁𝒻𝓊𝓇𝒾ℴ𝓃ℒ𝒶𝓋"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/558036832844120074/28.png");
}


/*Bowser65#0001*/

.avatar-3EQepX[aria-label*="Bowser65"] {
    --user-background: url("https://cdn.discordapp.com/attachments/539444185262981120/655864393862742036/debian.png");
}


/*sp614x#0888*/

.avatar-3EQepX[aria-label*="sp614x"] {
    --user-background: url("https://i.imgur.com/2VBDRE7.jpg");
}


/*DeDelner#2880*/

.avatar-3EQepX[aria-label*="DeDelner"] {
    --user-background: url("https://i1.wp.com/dedelner.net/wp-content/uploads/2019/11/2019-10-01_23.08.17.png?fit=2560%2C1361&ssl=1");
}


/*Nimi#2880*/

.avatar-3EQepX[aria-label*="Nimi"] {
    --user-background: url("https://i.imgur.com/BNiDYGE.png");
}



/*Winter ⟨ Morgana Chase ⟩#0001*/

.avatar-3EQepX[aria-label*="Winter ⟨ Morgana Chase ⟩"] {
    --user-background: url("https://cdn.discordapp.com/attachments/655856894233280522/655967799876911144/profile.png");
}

/*Spectra*/

.avatar-3EQepX[aria-label*="Spectra"] {
    --user-background: url("https://i.imgur.com/BGyfYiv.gif");
}


/*Lil Monster*/

.avatar-3EQepX[aria-label*="Lil Monster"] {
    --user-background: url("https://i.imgur.com/CAsvn0q.gif");
}


/*𝑳𝒖𝒄𝒊𝒇𝒆𝒓#8249*/

.avatar-3EQepX[aria-label*="𝑳𝒖𝒄𝒊𝒇𝒆𝒓"] {
    --user-background: url("https://i.imgur.com/zGCbSy9.gif");
}


/*Pengu#0000*/

.avatar-3EQepX[aria-label*="Pengu"] {
    --user-background: url("https://i.imgur.com/BZfpcz5.gif");
}


/*Ulli#0001*/

.avatar-3EQepX[aria-label*="Ulli"] {
    --user-background: url("https://i.imgur.com/BZfpcz5.gif");
}


/*Atom#8976*/

.avatar-3EQepX[aria-label*="Atom"] {
    --user-background: url("https://i.imgur.com/XRPmOL9.gif");
}


/*Luan°#1682*/

.avatar-3EQepX[aria-label*="Luan°"] {
    --user-background: url("https://i.imgur.com/HIGCxW4.gif");
}

/*ooSakuraRoseOo#0000*/

.avatar-3EQepX[aria-label*="ooSakuraRoseOo"] {
    --user-background: url("https://media.giphy.com/media/AdtvZ8gu9gZ32/giphy.gif");
}

/*E.🖤🕊✝#6006*/

.avatar-3EQepX[aria-label*="E.🖤🕊✝"] {
    --user-background: url("https://i.imgur.com/N3bBV5Q.gif");
}

/*Zura#5141*/

.avatar-3EQepX[aria-label*="Zura"] {
	--user-background: url("http://i.imgur.com/TVkGvZR.gif");
}

/*Zurana Suki#1518*/

.avatar-3EQepX[aria-label*="Zurana Suki"] {
	--user-background: url("https://i.imgur.com/s0G5adQ.png");
}

/*Noname#0666*/

.avatar-3EQepX[aria-label*="Noname"] {
	--user-background: url("https://i.imgur.com/KYls2nW.gif");
}

/*Redd#5026*/

.avatar-3EQepX[aria-label*="Redd"] {
	--user-background: url("https://i.pinimg.com/originals/3b/47/19/3b4719e280c5b8d1f0b91fa1382cbb04.gif");
}

/*Sydnxt#0001*/

.avatar-3EQepX[aria-label*="Sydnxt"] {
	--user-background: url("https://i.imgur.com/QmvSS36.gif");
}

/*Guest173661#2746*/

.avatar-3EQepX[aria-label*="Guest173661"] {
	--user-background: url("https://i.imgur.com/SLJ4Fvi.png");
}

/*Sean/Ryah#1234*/

.avatar-3EQepX[aria-label*="Sean/Ryah"] {
	--user-background: url("https://i.imgur.com/ak9zgoj.gif");
}

/*SackSparrow VI#0476*/

.avatar-3EQepX[aria-label*="SackSparrow VI"] {
	--user-background: url("https://i.imgur.com/tVUWNXQ.gif");
}

/*Vin#0001*/

.avatar-3EQepX[aria-label*="Vin"] {
	--user-background: url("https://i.imgur.com/FwZzeV3.png");
}

/*Skittles#0001*/

.avatar-3EQepX[aria-label*="Skittles"] {
	--user-background: url("https://media1.giphy.com/media/26tP80DaorPjmqlC8/giphy.gif?cid=790b76115cd1e9934662392f41059601&rid=giphy.gif");
}

/*Vin#0001*/

.avatar-3EQepX[aria-label*="Vin"] {
	--user-background: url("https://i.imgur.com/FwZzeV3.png");
}


/*ORI#8686*/

.avatar-3EQepX[aria-label*="ORI"] {
	--user-background: url("https://i.imgur.com/tVUWNXQ.gif");
}


/*HorrorTroll#6457*/

.avatar-3EQepX[aria-label*="HorrorTroll"] {
	--user-background: url("https://66.media.tumblr.com/04caae14ec61b27387e52b19401b0318/tumblr_n9jsckxL9z1rf78nfo1_400.gif");
}


/*ImTropixz#6969*/

.avatar-3EQepX[aria-label*="ImTropixz"] {
	--user-background: url("https://media0.giphy.com/media/BHNfhgU63qrks/giphy.gif");
}


/*FireShadow_#0000*/

.avatar-3EQepX[aria-label*="FireShadow_"] {
	--user-background: url("https://patch.com/img/cdn20/users/22941961/20180909/030158/styles/T800x600/public/processed_images/shutterstock_289828547-1536519618-492.jpg");
}


/*Vin#0001*/

.avatar-3EQepX[aria-label*="Vin"] {
	--user-background: url("https://i.imgur.com/FwZzeV3.png");
}

/*A user#9868*/

.avatar-3EQepX[aria-label*="A user"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551912240845029386/wallpaper.png");
}

/*techied#0110*/
.avatar-3EQepX[aria-label*="techied"] {
    --user-background: url("https://cdn.discordapp.com/attachments/655856894233280522/656196492255559692/uzkxfTzVzhiWGjA-800x450-noPad.png");
}
