/**
 * @name USRBG
 * @author Tropical#8908
 * @version 1
 * @invite TeRQEPb
 * @description A pure CSS database of user requested backgrounds for discord.
 * @source https://github.com/discord-custom-covers/usrbg
*/

@import url("https://discord-custom-covers.github.io/usrbg/snippets/modals.css");
@import url("https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css");
