/* USRBG BETTERDISCORD DATABASE*/
/* #000 = UNKNOWN DISCRIMINATOR */
/*Tropical#4104*/

[user_by_bdfdb*="254362351170617345"] {
	--user-background: url(https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif);
}


/*Spectra#7698*/

[user_by_bdfdb*="286208664623120384"] {
	--user-background: url(https://i.imgur.com/BGyfYiv.gif);
}


/*Lil Monster#3557*/

[user_by_bdfdb*="402272736665272320"] {
	--user-background: url(https://i.imgur.com/CAsvn0q.gif);
}


/*𝑳𝒖𝒄𝒊𝒇𝒆𝒓#8249*/

[user_by_bdfdb*="197477050569719808"] {
	--user-background: url(https://i.imgur.com/zGCbSy9.gif);
}


/*Pengu#0000*/

[user_by_bdfdb*="116243287936860167"] {
	--user-background: url(https://i.imgur.com/BZfpcz5.gif);
}


/*Ulli#0001*/

[user_by_bdfdb*="282138006738042880"] {
	--user-background: url(https://i.imgur.com/gA0scJx.gif);
}


/*Atom#8976*/

[user_by_bdfdb*="150967530075324416"] {
	--user-background: url(https://i.imgur.com/XRPmOL9.gif);
}


/*Luan°#1682*/

[user_by_bdfdb*="172426681800196096"] {
	--user-background: url(https://i.imgur.com/HIGCxW4.gif);
}


/*ooSakuraRoseOo#0000*/

[user_by_bdfdb*="438846426441711616"] {
	--user-background: url(https://media.giphy.com/media/AdtvZ8gu9gZ32/giphy.gif);
}


/*E.🖤🕊✝#6006*/

[user_by_bdfdb*="234148582523928576"] {
	--user-background: url(https://i.imgur.com/N3bBV5Q.gif);
}


/*Zura#5141*/

[user_by_bdfdb*="219078125974192128"] {
	--user-background: url(http://i.imgur.com/TVkGvZR.gif);
}


/*unknown#0000*/

[user_by_bdfdb*="223530152296972289"] {
	--user-background: url(https://i.imgur.com/yumRBoF.gif);
}


/*Zurana Suki#1518*/

[user_by_bdfdb*="312782599439515650"] {
	--user-background: url(https://i.imgur.com/s0G5adQ.png);
}


/*Noname#0666*/

[user_by_bdfdb*="498444458845536257"] {
	--user-background: url(https://i.imgur.com/KYls2nW.gif);
}


/*Lushu#1002*/

[user_by_bdfdb*="336678828233588736"] {
	--user-background: url(https://data.whicdn.com/images/245235615/original.gif);
}


/*Redd#5026*/

[user_by_bdfdb*="331398151229669378"] {
	--user-background: url(https://i.pinimg.com/originals/3b/47/19/3b4719e280c5b8d1f0b91fa1382cbb04.gif);
}


/*Sydnxt#0001*/

[user_by_bdfdb*="213220786805145600"] {
	--user-background: url(https://i.imgur.com/QmvSS36.gif);
}


/*Guest173661#2746*/

[user_by_bdfdb*="244363360886325248"] {
	--user-background: url(https://i.imgur.com/SLJ4Fvi.png);
}


/*Sean/Ryah#1234*/

[user_by_bdfdb*="236561912597446666"] {
	--user-background: url(https://i.imgur.com/ak9zgoj.gif);
}


/*SackSparrow VI#0476*/

[user_by_bdfdb*="324680910123302922"] {
	--user-background: url(https://i.imgur.com/tVUWNXQ.gif);
}


/*Vin#0001*/

[user_by_bdfdb*="183766480112844801"] {
	--user-background: url(https://i.imgur.com/FwZzeV3.png);
}


/*Skittles#0001*/

[user_by_bdfdb*="433698341008965633"] {
	--user-background: url(https://media1.giphy.com/media/26tP80DaorPjmqlC8/giphy.gif?cid=790b76115cd1e9934662392f41059601&rid=giphy.gif);
}


/*ORI#8686*/

[user_by_bdfdb*="249986660371136513"] {
	--user-background: url(https://i.imgur.com/tVUWNXQ.gif);
}


/*HorrorTroll#6457*/

[user_by_bdfdb*="152430800241950720"] {
	--user-background: url(https://66.media.tumblr.com/04caae14ec61b27387e52b19401b0318/tumblr_n9jsckxL9z1rf78nfo1_400.gif);
}


/*ImTropixz#6969*/

[user_by_bdfdb*="361318789691736064"] {
	--user-background: url(https://media0.giphy.com/media/BHNfhgU63qrks/giphy.gif);
}


/*FireShadow_#0000*/

[user_by_bdfdb*="265907876239900674"] {
	--user-background: url(https://patch.com/img/cdn20/users/22941961/20180909/030158/styles/T800x600/public/processed_images/shutterstock_289828547-1536519618-492.jpg);
}


/*RenkTon#0001*/

[user_by_bdfdb*="346375728117317633"] {
	--user-background: url(https://i.imgur.com/QZHn0eg.gif);
}


/*Gibbu#1211*/

[user_by_bdfdb*="174868361040232448"] {
	--user-background: url(https://source.unsplash.com/featured/?{Frog});
}


/*🎄 toxxy ⛄#2481*/

[user_by_bdfdb*="359042365970710538"] {
	--user-background: url(https://cdn.discordapp.com/attachments/546244449873821705/645486399025315851/nebula-3840x2160-pink-galaxy-stars-4k-13210.jpg);
}


/*MJA#0001*/

[user_by_bdfdb*="236006926406778881"] {
	--user-background: url(https://i.imgur.com/wxVooW6.gif);
}


/*Katsuro#7035*/

[user_by_bdfdb*="96563253466898432"] {
	--user-background: url(https://media.giphy.com/media/MXQnyEQwBJ6eTj90L5/source.gif);
}


/*zkcm#9825*/

[user_by_bdfdb*="622724687499362315"] {
	--user-background: url(https://cdn.discordapp.com/attachments/646004059253243904/646005123310420005/original.gif);
}


/*The_Hulsenator#3000*/

[user_by_bdfdb*="560474818328264706"] {
	--user-background: url(https://i.imgur.com/Ad5W4x1.jpg);
}


/*tokiioKH#1755*/

[user_by_bdfdb*="142110824507506688"] {
	--user-background: url(https://i.imgur.com/i2YFsm5.gif);
}


/*Niko#1250*/

[user_by_bdfdb*="230714365869817857"] {
	--user-background: url(https://media.giphy.com/media/f8UkGZjJugmUo/giphy.gif);
}


/*accounterror#23666*/

[user_by_bdfdb*="166365757561634816"] {
	--user-background: url(https://i.imgur.com/Q9QB40k.gif);
}


/*Snowy ❄#0934*/

[user_by_bdfdb*="231827402102276096"] {
	--user-background: url(https://i.imgur.com/AWeKDuK.gif);
}


/*Myles From Tomorrowland#0001*/

[user_by_bdfdb*="380930399003475988"] {
	--user-background: url(https://media.giphy.com/media/12B6jgPAAk0qKQ/source.gif);
}


/*strikepredator#9638*/

[user_by_bdfdb*="141302663022116864"] {
	--user-background: url(https://cdn.discordapp.com/attachments/550442250631381044/648195158692724754/squares-gif-bg.gif);
}


/*48#0048*/

[user_by_bdfdb*="111476801762537472"] {
	--user-background: url(https://media.giphy.com/media/3012rG5pACvfGnmbLD/giphy.gif);
}


/*keys#0000*/

[user_by_bdfdb*="545060776654667777"] {
	--user-background: url(https://s5.gifyu.com/images/popoutt.gif);
}


/*Butler's Grandson#5106*/

[user_by_bdfdb*="576230701880311817"] {
	--user-background: url(https://i.imgur.com/kCeKbig.gif);
}


/*Crypteon#0000*/

[user_by_bdfdb*="90110283724374016"] {
	--user-background: url(https://media.giphy.com/media/JU4VwHB2h4PB7dsq9I/giphy.gif);
}


/*Zoë#0000*/

[user_by_bdfdb*="250353310698176522"] {
	--user-background: url(https://i.gifer.com/Pxf.gif);
}


/*vanillaspace#1010*/

[user_by_bdfdb*="227648235097817089"] {
	--user-background: url(https://66.media.tumblr.com/69be13d66ffe5b85b4f75a9e2d544db6/tumblr_pu0pe5p27C1rsdpaso1_500.gif);
}


/*Hydro#9117*/

[user_by_bdfdb*="613497609738256431"] {
	--user-background: url(https://i.imgur.com/fVshVoz.gif);
}


/*_Guigui#0000*/

[user_by_bdfdb*="448560475987509268"] {
	--user-background: url(https://media.discordapp.net/attachments/623582796023201808/654063449889964063/C_H_I_L_L.png);
}


/*unknown#0000*/

[user_by_bdfdb*="320143421903732737"] {
	--user-background: url(https://i1.wp.com/livewallpaper.info/wp-content/uploads/2017/08/Candies-Colorful-Desktop-s-Hd-p-wallpaper-wpt1003018.jpg?ssl=1);
}


/*DarkMatter#0712*/

[user_by_bdfdb*="200612445373464576"] {
	--user-background: url(https://i.imgur.com/Oe2MSEI.gif);
}


/*Aka赤#0025*/

[user_by_bdfdb*="267803219080642560"] {
	--user-background: url(https://media3.giphy.com/media/9vzFVAl3lKjJe/source.gif);
}


/*Chief_Lawl#0000*/

[user_by_bdfdb*="373583057644683274"] {
	--user-background: url(https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif);
}


/*Silvia#3227*/

[user_by_bdfdb*="131931913362341888"] {
	--user-background: url(https://i.imgur.com/jVPRVlu.png);
}


/*Zahl#1337*/

[user_by_bdfdb*="140012296910012416"] {
	--user-background: url(https://i.imgur.com/7rTizt9.gif);
}


/*Korbs#5777*/

[user_by_bdfdb*="273169968202252289"] {
    --user-background: url("https://images.alphacoders.com/962/962986.png");
}


/*Winter (Morgana Chase)#0001*/

[user_by_bdfdb*="161692463365357568"] {
    --user-background: url("https://i.imgur.com/LHhRIG2.png");
}


/*LimonadeSenpai#8143*/

[user_by_bdfdb*="170915043108585472"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556828876341379092/SPOILER_Anime_4.png");
}


/*creatable#0123*/

[user_by_bdfdb*="597905003717459968"] {
    --user-background: url("http://getwallpapers.com/wallpaper/full/e/8/7/663102.jpg");
}


/*JustMrRobBoss#1514*/

[user_by_bdfdb*="194474365646012416"] {
    --user-background: url("https://i.imgur.com/RVWaW9s.png");
}


/*FroztySeven#9632*/

[user_by_bdfdb*="155407912481718272"] {
    --user-background: url("https://cdn.discordapp.com/attachments/501144124880322570/536372585487794177/WIN_20190119_23_12_42_Pro.jpg");
}


/*aaron#5526*/

[user_by_bdfdb*="282340088929845248"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/546107586852945940/howls.gif");
}


/*AKDK#4324*/

[user_by_bdfdb*="282930004734640130"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/546109187650879508/XjKfgHt.jpg");
}


/*.intrnl#6380*/

[user_by_bdfdb*="443765978132643850"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/546205630361239563/Surface_Book_-_Rainbow.jpg");
}


/*Naori#0001*/

[user_by_bdfdb*="126053182748098567"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/546690784481640448/1537293941448.png");
}


/*Euros#2239*/

[user_by_bdfdb*="394972798147231754"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/548923807692488714/Golden_Gate_Bridge__Hex_Fade_Wallpaper_Engine.png");
}


/*Không Lùn#8033*/

[user_by_bdfdb*="448590354724421673"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/549480358786367498/unknown.png");
}


/*ｍｅｒｃｕｒｙ#5708*/

[user_by_bdfdb*="432625086600708111"] {
    --user-background: url("https://i.imgur.com/uUAEfVhh.jpg");
}


/*JacobL#5806*/

[user_by_bdfdb*="217737686956507146"] {
    --user-background: url("https://i.gifer.com/G5Z8.gif");
}


/*Vedallion#9999*/

[user_by_bdfdb*="153134984163622912"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/550319984421634058/gods-hourglass_2560x1440.jpg");
}


/*Xperium#7457*/

[user_by_bdfdb*="301629609462726656"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/550116947732463626/photo-1494972308805-463bc619d34e.jpg");
}


/*RubixRoyal#5886*/

[user_by_bdfdb*="268735483423490048"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/550431247021768782/road-fog-nature-trees.jpg");
}


/*.ziff.#9484*/

[user_by_bdfdb*="205393108223918080"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/550114024520417281/G5Z8.gif");
}


/*LangKunG MCGTtv#0530*/

[user_by_bdfdb*="419115667174981633"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551362004565098506/JB_PAUSE_ADVERT_1.jpg");
}


/*AK Felix#0001*/

[user_by_bdfdb*="304770811577892864"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551374939207237632/Wave-1920x1080.png");
}


/*iShot#6284*/

[user_by_bdfdb*="298184482056568835"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551858209485357057/iShot.png");
}


/*Snake#7631*/

[user_by_bdfdb*="227489144216092673"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551785219586261002/battlefield-5-3841x2160-official-battlefield-v-4k-13938_1.jpg");
}


/*Medafu#3096*/

[user_by_bdfdb*="523417274607075328"] {
    --user-background: url("https://wallpapercave.com/wp/wp1895631.jpg");
}


/*EliteNK#7230*/

[user_by_bdfdb*="271095508842446848"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551459390989926401/ZZOuSd4.jpg");
}


/*Normie Trash#8386*/

[user_by_bdfdb*="330480275882770433"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/554055062562013204/latest.png");
}


/*Neisan™#5790*/

[user_by_bdfdb*="217329666669674498"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/554975114266148899/Meloetta-BG.jpg");
}


/*WICKwill#6185*/

[user_by_bdfdb*="537393885341548564"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/553586406618824724/1235480448_preview_QQ20171218212538.png");
}


/*Gixol#9340*/

[user_by_bdfdb*="283745803313479681"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/555455191802052608/1478934736_screenshotwork2.jpg");
}


/*Relist#9066*/

[user_by_bdfdb*="294933901439270912"] {
    --user-background: url("https://i.imgur.com/IvQBybY.gif");
}


/*Heatwave#1346*/

[user_by_bdfdb*="297899354897907715"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/555919689335832586/hm.jpg");
}


/*Cas#3715*/

[user_by_bdfdb*="450522997447720971"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556535813937168396/mikael-gustafsson-wallpaper-mikael-gustafsson.png");
}


/*Tomi#0596*/

[user_by_bdfdb*="154084427436130304"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556522856268431360/ce445fd8465705a5f1047a577bc72af5.1000x563x1.jpg");
}


/*Alanexei ✔#1337*/

[user_by_bdfdb*="163319338403627008"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556485315632824360/red-galaxy-4.png");
}


/*Medafu#3096*/

[user_by_bdfdb*="523417274607075328"] {
    --user-background: url("https://cdn.discordapp.com/attachments/239132903928365056/551220226260336660/Northern_Lights.png");
}


/*-TJ#2013*/

[user_by_bdfdb*="147806107824422912"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/556219032148115476/Freeze.png");
}


/*アヒル#0010*/

[user_by_bdfdb*="232461105111367690"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/557972537355665424/Matoi_Ryuuko_30-2819.jpeg");
}


/*NoBlockhuman#2973*/

[user_by_bdfdb*="407277406341300225"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/559513086449418260/104177.png");
}

/*ℳ𝒶𝓁𝒻𝓊𝓇𝒾ℴ𝓃ℒ𝒶𝓋#2104*/

[user_by_bdfdb*="302749787953037312"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/558036832844120074/28.png");
}

/*Bowser65#0001*/

[user_by_bdfdb*="94762492923748352"] {
    --user-background: url("https://cdn.discordapp.com/attachments/539444185262981120/655864393862742036/debian.png");
}

/*sp614x#0888*/

[user_by_bdfdb*="202558206495555585"] {
    --user-background: url("https://i.imgur.com/2VBDRE7.jpg");
}

/*DeDelner#2880*/

[user_by_bdfdb*="214302126870888448"] {
    --user-background: url("https://i1.wp.com/dedelner.net/wp-content/uploads/2019/11/2019-10-01_23.08.17.png?fit=2560%2C1361&ssl=1");
}

/*Nimi#2880*/

[user_by_bdfdb*="170769257762652171"] {
    --user-background: url("https://i.imgur.com/BNiDYGE.png");
}

/*Winter ⟨ Morgana Chase ⟩#0001*/

[user_by_bdfdb*="161692463365357568"] {
	--user-background: url("https://cdn.discordapp.com/attachments/655856894233280522/655967799876911144/profile.png");
}

/*A user#9868*/

[user_by_bdfdb*="264062457448759296"] {
    --user-background: url("https://cdn.discordapp.com/attachments/534880602034274314/551912240845029386/wallpaper.png");
}

/*Demi#1337*/

[user_by_bdfdb*="261354004569653248"] {
    --user-background: url("https://i.imgur.com/AMC1Mom.jpg");
}
