/*Tropical*/

[user_by_bdfdb*="254362351170617345"] {
	--user-background: url(https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif);
}


/*Spectra*/

[user_by_bdfdb*="286208664623120384"] {
	--user-background: url(https://i.imgur.com/BGyfYiv.gif);
}


/*Korbs*/

[user_by_bdfdb*="273169968202252289"] {
	--user-background: url(https://cdn.discordapp.com/attachments/456652562435670027/567151535889448990/oc__winter_feelings___my_new_wallpaper___4k_by_total_chuck-dbv5j3k.jpg);
}


/*Lil Monster*/

[user_by_bdfdb*="402272736665272320"] {
	--user-background: url(https://i.imgur.com/CAsvn0q.gif);
}


/*Lucifer*/

[user_by_bdfdb*="197477050569719808"] {
	--user-background: url(https://i.imgur.com/zGCbSy9.gif);
}


/*Pengu*/

[user_by_bdfdb*="116243287936860167"] {
	--user-background: url(https://i.imgur.com/BZfpcz5.gif);
}


/*Ulli*/

[user_by_bdfdb*="282138006738042880"] {
	--user-background: url(https://i.imgur.com/gA0scJx.gif);
}


/*Atom*/

[user_by_bdfdb*="150967530075324416"] {
	--user-background: url(https://i.imgur.com/XRPmOL9.gif);
}


/*Luan*/

[user_by_bdfdb*="172426681800196096"] {
	--user-background: url(https://i.imgur.com/HIGCxW4.gif);
}


/*ooSakuraRoseOo*/

[user_by_bdfdb*="438846426441711616"] {
	--user-background: url(https://media.giphy.com/media/AdtvZ8gu9gZ32/giphy.gif);
}


/*Englels*/

[user_by_bdfdb*="234148582523928576"] {
	--user-background: url(https://i.imgur.com/N3bBV5Q.gif);
}


/*Zurazan*/

[user_by_bdfdb*="219078125974192128"] {
	--user-background: url(http://i.imgur.com/TVkGvZR.gif);
}


/*223530152296972289*/

[user_by_bdfdb*="223530152296972289"] {
	--user-background: url(https://i.imgur.com/yumRBoF.gif);
}


/*Justin A. Davidson*/

[user_by_bdfdb*="312782599439515650"] {
	--user-background: url(https://i.imgur.com/s0G5adQ.png);
}


/*preston*/

[user_by_bdfdb*="498444458845536257"] {
	--user-background: url(https://i.imgur.com/KYls2nW.gif);
}


/*Lushu*/

[user_by_bdfdb*="336678828233588736"] {
	--user-background: url(https://data.whicdn.com/images/245235615/original.gif);
}


/*Redd*/

[user_by_bdfdb*="331398151229669378"] {
	--user-background: url(https://i.pinimg.com/originals/3b/47/19/3b4719e280c5b8d1f0b91fa1382cbb04.gif);
}


/*Sydnxt*/

[user_by_bdfdb*="213220786805145600"] {
	--user-background: url(https://i.imgur.com/QmvSS36.gif);
}


/*Guest173661*/

[user_by_bdfdb*="244363360886325248"] {
	--user-background: url(https://i.imgur.com/SLJ4Fvi.png);
}


/*Sean/Ryah*/

[user_by_bdfdb*="236561912597446666"] {
	--user-background: url(https://i.imgur.com/ak9zgoj.gif);
}


/*SackSparrow VI*/

[user_by_bdfdb*="324680910123302922"] {
	--user-background: url(https://i.imgur.com/tVUWNXQ.gif);
}


/*Vince*/

[user_by_bdfdb*="183766480112844801"] {
	--user-background: url(https://i.imgur.com/FwZzeV3.png);
}


/*Skittles*/

[user_by_bdfdb*="433698341008965633"] {
	--user-background: url(https://media1.giphy.com/media/26tP80DaorPjmqlC8/giphy.gif?cid=790b76115cd1e9934662392f41059601&rid=giphy.gif);
}


/*ORI*/

[user_by_bdfdb*="249986660371136513"] {
	--user-background: url(https://i.imgur.com/tVUWNXQ.gif);
}


/*HorrorTroll*/

[user_by_bdfdb*="152430800241950720"] {
	--user-background: url(https://66.media.tumblr.com/04caae14ec61b27387e52b19401b0318/tumblr_n9jsckxL9z1rf78nfo1_400.gif);
}


/*ImTropixz*/

[user_by_bdfdb*="361318789691736064"] {
	--user-background: url(https://media0.giphy.com/media/BHNfhgU63qrks/giphy.gif);
}


/*FireShadow_*/

[user_by_bdfdb*="265907876239900674"] {
	--user-background: url(https://patch.com/img/cdn20/users/22941961/20180909/030158/styles/T800x600/public/processed_images/shutterstock_289828547-1536519618-492.jpg);
}


/*RenkTon*/

[user_by_bdfdb*="346375728117317633"] {
	--user-background: url(https://i.imgur.com/QZHn0eg.gif);
}


/*gibbu*/

[user_by_bdfdb*="174868361040232448"] {
	--user-background: url(https://source.unsplash.com/featured/?{Frog});
}


/*toxxy*/

[user_by_bdfdb*="359042365970710538"] {
	--user-background: url(https://cdn.discordapp.com/attachments/546244449873821705/645486399025315851/nebula-3840x2160-pink-galaxy-stars-4k-13210.jpg);
}


/*MJA*/

[user_by_bdfdb*="236006926406778881"] {
	--user-background: url(https://i.imgur.com/wxVooW6.gif);
}


/*Katsuro*/

[user_by_bdfdb*="96563253466898432"] {
	--user-background: url(https://media.giphy.com/media/MXQnyEQwBJ6eTj90L5/source.gif);
}


/*zkcm*/

[user_by_bdfdb*="622724687499362315"] {
	--user-background: url(https://cdn.discordapp.com/attachments/646004059253243904/646005123310420005/original.gif);
}


/*The_Hulsenator*/

[user_by_bdfdb*="560474818328264706"] {
	--user-background: url(https://i.imgur.com/Ad5W4x1.jpg);
}


/*tokiioKH*/

[user_by_bdfdb*="142110824507506688"] {
	--user-background: url(https://i.imgur.com/i2YFsm5.gif);
}


/*Niko*/

[user_by_bdfdb*="230714365869817857"] {
	--user-background: url(https://media.giphy.com/media/f8UkGZjJugmUo/giphy.gif);
}


/*accounterror*/

[user_by_bdfdb*="166365757561634816"] {
	--user-background: url(https://i.imgur.com/Q9QB40k.gif);
}


/*Nereus*/

[user_by_bdfdb*="231827402102276096"] {
	--user-background: url(https://i.imgur.com/AWeKDuK.gif);
}


/*Myles*/

[user_by_bdfdb*="380930399003475988"] {
	--user-background: url(https://media.giphy.com/media/12B6jgPAAk0qKQ/source.gif);
}


/*strikepredator*/

[user_by_bdfdb*="141302663022116864"] {
	--user-background: url(https://cdn.discordapp.com/attachments/550442250631381044/648195158692724754/squares-gif-bg.gif);
}


/*48*/

[user_by_bdfdb*="111476801762537472"] {
	--user-background: url(https://media.giphy.com/media/3012rG5pACvfGnmbLD/giphy.gif);
}


/*keys*/

[user_by_bdfdb*="545060776654667777"] {
	--user-background: url(https://s5.gifyu.com/images/popoutt.gif);
}


/*Butler's Grandson*/

[user_by_bdfdb*="576230701880311817"] {
	--user-background: url(https://i.imgur.com/kCeKbig.gif);
}

/*Crypteon*/

[user_by_bdfdb*="90110283724374016"] {
	--user-background: url(https://media.giphy.com/media/JU4VwHB2h4PB7dsq9I/giphy.gif);
}

/*Zoe*/

[user_by_bdfdb*="250353310698176522"] {
	--user-background: url(https://i.gifer.com/Pxf.gif);
}

/*vanillaspace*/

[user_by_bdfdb*="227648235097817089"] {
	--user-background: url(https://66.media.tumblr.com/69be13d66ffe5b85b4f75a9e2d544db6/tumblr_pu0pe5p27C1rsdpaso1_500.gif);
}

/*Hydro*/

[user_by_bdfdb*="613497609738256431"] {
	--user-background: url(https://i.imgur.com/fVshVoz.gif);
}

/*_Guigui*/

[user_by_bdfdb*="448560475987509268"] {
	--user-background: url(https://media.discordapp.net/attachments/623582796023201808/654063449889964063/C_H_I_L_L.png);
}

/*unknown*/

[user_by_bdfdb*="320143421903732737"] {
	--user-background: url(https://i1.wp.com/livewallpaper.info/wp-content/uploads/2017/08/Candies-Colorful-Desktop-s-Hd-p-wallpaper-wpt1003018.jpg?ssl=1);
}

/*DarkMatter*/

[user_by_bdfdb*="200612445373464576"] {
	--user-background: url(https://i.imgur.com/Oe2MSEI.gif);
}

/*Aka*/

[user_by_bdfdb*="267803219080642560"] {
	--user-background: url(https://media3.giphy.com/media/9vzFVAl3lKjJe/source.gif);
}

/*Chief_Lawl*/

[user_by_bdfdb*="373583057644683274"] {
	--user-background: url(https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif);
}

/*Silvia*/

[user_by_bdfdb*="131931913362341888"] {
	--user-background: url(https://i.imgur.com/jVPRVlu.png);
}

/*Zahl*/

[user_by_bdfdb*="140012296910012416	"] {
	--user-background: url(https://imgur.com/7rTizt9);
}
